<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Things that I need to do</h1>
    <table>
        {% for i in items %}
            <tr>
                {% if i.done %}
                    <td><s>{{ i.name }}</s></td>
                {% else %}
                    <td>{{ i.name }}</td>
                {% endif %}
                    <td>
                        <a href="/edit/{{ i.id }}">
                            <button>
                                Edit
                            </button>
                        </a>
                    </td>
            </tr>
        {% empty %}
        <tr><td>You have nothing to do :)</td></tr>
        {% endfor %}
    </table>
    <a href="add">Add a new item</a>
</body>
</html>